<h1 mat-dialog-title>Eliminar valor de opción</h1>
<mat-dialog-content>
  <mat-grid-list cols="2" rowHeight="4:1">

    <!-- Nombre -->
    <mat-grid-tile>
      <div class="text-inside-grid">
        <b>Nombre:</b>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>{{ data.nameOptValue }}</mat-grid-tile>

    <!-- Código -->
    <mat-grid-tile>
      <div class="text-inside-grid"><b>Código:</b></div>
    </mat-grid-tile>
    <mat-grid-tile>{{ data.codOptValue }}</mat-grid-tile>

    <!-- Estado -->
    <mat-grid-tile>
      <div class="text-inside-grid">
        <b>Estado:</b>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>{{ data.stateOptValue === true ? "Activa" : "Inactiva" }}</mat-grid-tile>

  </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="1" (click)="deleteOptValue()">
    Eliminar
  </button>
  <button mat-button [mat-dialog-close]="undefined" tabindex="-1">
    Cancelar
  </button>
</mat-dialog-actions>
