
<mat-form-field class="dynamic-field" [formGroup]="form">
  <mat-label>{{field.label}}</mat-label>
  <textarea matInput [formControlName]="field.name" [placeholder]="field.description"></textarea>
  <mat-hint *ngIf="field.information">{{field.information}}</mat-hint>
  <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
    <mat-error *ngIf="form.controls[field.name].hasError(validation.name)">{{validation.message}}</mat-error>
  </ng-container>
</mat-form-field>