<h1 mat-dialog-title>Agregar usuario</h1>
<mat-dialog-content>
  <form [formGroup]="form" #formAddUser="ngForm">

    <!-- Perfil -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Perfil</mat-label>
      <mat-select formControlName="idProf">
        <mat-option [value]="prof.idProf" *ngFor="let prof of profiles">{{
          prof.nameProf
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.idProf.errors?.required">Debe diligenciar este campo</mat-error>
    </mat-form-field>

    <!-- Empresa -->
    <!-- <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Empresa</mat-label>
      <mat-select formControlName="idComp">
        <mat-option [value]="comp.idComp" *ngFor="let comp of companies">{{
          comp.nameComp
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="f.idComp.errors?.required"
        >Debe diligenciar este campo</mat-error
      >
    </mat-form-field> -->

    <!-- Identificación -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Identificación</mat-label>
      <input matInput type="number" formControlName="identUser" />
      <mat-error *ngIf="f.identUser.errors?.required">Debe diligenciar este campo</mat-error>
      <mat-error *ngIf="f.identUser.errors?.min">Debe contener mínimo 8 digitos</mat-error>
    </mat-form-field>

    <!-- Nombres -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Nombres</mat-label>
      <input matInput type="text" formControlName="nameUser" />
      <!-- <mat-error *ngIf="errorHandling('name', 'required')">Debe diligenciar este campo</mat-error> -->
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-error *ngIf="f.nameUser.errors?.required">Debe diligenciar este campo</mat-error>
    </mat-form-field>

    <!-- Apellidos -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input matInput type="text" formControlName="lastnameUser" />
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-error *ngIf="f.lastnameUser.errors?.required">Debe diligenciar este campo</mat-error>
    </mat-form-field>

    <!-- RH -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>RH</mat-label>
      <mat-select formControlName="rhUser">
        <mat-option value="A+">A+</mat-option>
        <mat-option value="A-">A-</mat-option>
        <mat-option value="B+">B+</mat-option>
        <mat-option value="B-">B-</mat-option>
        <mat-option value="O+">O+</mat-option>
        <mat-option value="O-">O-</mat-option>
        <mat-option value="AB+">AB+</mat-option>
        <mat-option value="AB-">AB-</mat-option>
      </mat-select>
      <mat-error *ngIf="f.rhUser.errors?.required">Debe diligenciar este campo</mat-error>
    </mat-form-field>

    <!-- Género -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Género</mat-label>
      <mat-select formControlName="genderUser">
        <mat-option value="Masculino">Masculino</mat-option>
        <mat-option value="Femenino">Femenino</mat-option>
      </mat-select>
      <mat-error *ngIf="f.genderUser.errors?.required">Debe diligenciar este campo</mat-error>
    </mat-form-field>

    <!-- Fecha de nacimiento -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="pickerDBU" formControlName="dateBirthUser" />
      <mat-datepicker-toggle matSuffix [for]="pickerDBU"></mat-datepicker-toggle>
      <mat-datepicker #pickerDBU></mat-datepicker>
      <mat-error *ngIf="f.dateBirthUser.errors?.required">Debe diligenciar este campo</mat-error>
    </mat-form-field>

    <!-- Fecha de vinculación -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Fecha de vinculación</mat-label>
      <input matInput [matDatepicker]="pickerEDU" formControlName="entailmentDateUser" />
      <mat-datepicker-toggle matSuffix [for]="pickerEDU"></mat-datepicker-toggle>
      <mat-datepicker #pickerEDU></mat-datepicker>
      <mat-error *ngIf="f.entailmentDateUser.errors?.required">Debe diligenciar este campo</mat-error>
    </mat-form-field>

    <!-- Correo electrónico -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" formControlName="emailUser" />
      <!-- <mat-error *ngIf="email.invalid">{{ validateForm() }}</mat-error> -->
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="f.emailUser.errors?.required">Debe diligenciar este campo</mat-error>
      <mat-error *ngIf="f.emailUser.errors?.pattern">Correo inválido</mat-error>
    </mat-form-field>

    <!-- Contraseña -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="passUser" />
      <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide1">
        <mat-icon>{{ hide1 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="f.passUser.errors?.required">Debe diligenciar este campo</mat-error>
    </mat-form-field>

    <!-- Confirmar contraseña -->
    <mat-form-field class="field-full-width" appearance="outline">
      <mat-label>Confirmar constraseña</mat-label>
      <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="passUser2" />
      <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2">
        <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="f.passUser2.errors?.required">Debe diligenciar este campo</mat-error>
      <mat-error *ngIf="f.passUser2.errors?.mustMatch">Contraseñas no coinciden</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="saveUser()" [disabled]="formAddUser.invalid">
    Agregar
  </button>
  <button mat-button [mat-dialog-close]="undefined">Cancelar</button>
</mat-dialog-actions>
