.toolbar-row-title {
  height: 30px;
  margin-top: 10px;
}

.toolbar-row-breadcrumb {
  height: 30px;
  margin-bottom: 10px;
}

.filters-table {
  width: 100%;
}
.botones{ 
  margin-left: 10px; 
  float:left; 
}
